<h3 class="ui header left floated">Update Database <%= database.name %></h3>
<div class="ui clearing divider"></div>

<form class="ui form updateDatabase" data-validate="parsley" <%= (el) -> el.data('database', database) %>>

	<div class="field">
		<label>Name</label> <input name="title" type="text" value="<%= database.title %>" parsley-required="true" parsley-required-message="Name is required"></input>
	</div>
	<div class="field">
		<label>Database Host</label> <input name="host" type="text" value="<%= database.host %>" parsley-required="true" parsley-required="true" parsley-required-message="Host is required"></input>
	</div>
	<div class="field">
		<label>Database Port</label> <input name="port" type="text" value="<%= database.port %>" parsley-required="true" parsley-type="digits" parsley-type-message="Port must be number" parsley-required-message="Port is required"></input>
	</div>
	<div class="field">
		<label>Database Name</label> <input name="name" type="text" value="<%= database.name%>" parsley-required="true" ></input>
	</div>
	<div class="field">
		<label>Database Username</label> <input name="username" type="text" value="<%= database.username%>" parsley-required="true" parsley-required-message="Username is required"></input>
	</div>
	<div class="field">
		<label>Database Password</label> <input name="password" type="password" value="<%= database.password%>" ></input>
	</div>
	<button class="ui green submit button" type="submit">Save</button>
	</div>
</form>

