<h3 class="ui header left floated">
	Graph 
	<% if(results.length > 0) { %>
	<span class="ui label">Page <%=page%> of <%=count%></span>
	<% } %>
</h3>
<div class="ui floated right icon buttons">
	
	<a href="#" class="ui small button previous disabled"><i class="icon left arrow"></i></a>
	<a href="#" class="ui small button next disabled"><i class="icon right arrow"></i></a>
</div>

<div class="ui button dropdown floated right small graphYAxis graphAxis" <%= (el) -> el.dropdown('setting', {action: 'nothing'}) %>>
	<div class="text">Y-Axis</div>
	<i class="icon dropdown"></i>
	<div class="menu">
		<% can.each(fields, function(item) { %>
			<div class="item">
				<div class="ui checkbox" <%= (el) -> el.checkbox('setting', {onChange: $('.graphAxis input').trigger('change')}) %>>
					<input name="y" value="<%=item%>" type="checkbox" <%=(typeof insight.attr('graphopts.y.'+item) != 'undefined'?'checked="selected"':'')%>></input><label><%=can.capitalize(item.replace(/_/g,' '))%></label>
				</div> 
			</div>
		<% }) %>
		
	</div>
</div>

<div class="ui button dropdown floated right small graphXAxis graphAxis" <%= (el) -> el.dropdown('setting', {action: 'nothing'}) %>>
	<div class="text">X-Axis</div>
	<i class="icon dropdown"></i>
	<div class="menu grouped">
		<% can.each(fields, function(item) { %>
			<div class="item">
				<div class="ui radio checkbox" <%= (el) -> el.checkbox('setting', {onChange: $('.graphAxis input').trigger('change')}) %>>
					<input name="x" value="<%=item%>" type="radio" <%=(typeof insight.attr('graphopts.x') == item?'checked="checked"':'')%>></input><label><%=can.capitalize(item.replace(/_/g,' '))%></label>
				</div> 
			</div>
		<% }) %>

	</div>
</div>


<div class="ui clearing divider"></div>

<% if(results.length === 0) { %>
	<div class="ui message">
		No Results
	</div>
<% } else { %>
	<div class="graphArea">

	</div>
	
<% } %>

	<br />
	<div class="ui floated right icon buttons">
		<a href="#" class="ui small button previous disabled"><i class="icon left arrow"></i></a>
		<a href="#" class="ui small button next disabled"><i class="icon right arrow"></i></a>
	</div>
