<% if(can.Object.same(structure,{})) { %>
	<div class="ui message"><i class="icon loading"></i> Getting structure</div>
<% } else { %>
	<div class="ui fluid vertical small menu accordion" <%= (el) -> el.accordion() %>>
		<% can.each(structure,function(item, index) { %>
		<div class="item">
			<div class="title <%=index;%>" <%= (el) -> el.data('table',item) %>>
				<i class="dropdown icon"></i><%=index%>
			</div>
			<div class="content">
				<div class=" ui fluid celled selection list">
					<% item.each(function(subitem) { %>
						<div <%= (el) -> el.data('field',subitem) %> <%= (el) -> el.data('table',index) %> class="item" title="<%= subitem.Type %>">
							<%==(insight.attr('type') == 0?'<i class="icon move"></i>':'')%><%= subitem.Field %>
						</div>
					<% }) %>
				</div>
			</div>
		</div>
		<% }) %>
	</div>
<% } %>
