<ul class="tabsInner">
	<% Global.tabs.each(function(insight) { %>
		<% controller.updateSize() %>
		<li <%= (el) -> el.data('insight',insight) %> <%= insight.attr('current')?'class="active"':''%>><input type="text" placeholder="Insight title" class="insightTitle" value="<%=insight.attr('name')%>" /><a href="#!insight/edit&id=<%=insight.attr('id')%>"><%=insight.attr('name')%></a><i class="fa fa-times"></i></li>
	<% }) %>
</ul>
<ul class="tabsControls">
	<li class="drop"><i class="fa fa-angle-down"></i></li>
	<li class="new"><i class="fa fa-plus"></i> <a href="#!dashboard">New Tab</a></li>
</ul>