
<ul>
<% if(insight.attr('type') == 0) { %>
	<li>
		<div class="innerTitle">
			<h2>Filters</h2>
			<span>Drag/Drop fields here to create filters</span>
		</div>
		<div class="innerContent">
			<ul class="columnList filters" >
				<% insight.attr('filters').each(function(item, index) { %>
					<li <%= (el) -> el.data('field', item)%>>
						<span title="<%= item.table %>.<%= item.field.Field%>"><%= item.table %>.<%= item.field.Field%></span> <i class="fa fa-times removeButton"></i>
						<div class="editPopup">
							<div class="innerTitle">
								<h2>Edit filter</h2>
								<i class="fa fa-times closeButton"></i>
							</div>
							<div class="innerContent">
								<label><%= item.field.Field %></label>
								<select class="filterOperator">
									<option value="equal" <%=(item.attr('field.operator') == 'equal'? 'selected="selected"':'')%>>Equal to</option>
									<option value="ne" <%=(item.attr('field.operator') == 'ne'? 'selected="selected"':'')%>>Not equal to</option>
									<option value="between" <%=(item.attr('field.operator') == 'between'? 'selected="selected"':'')%>>Between</option>
									<option value="lt" <%=(item.attr('field.operator') == 'lt'? 'selected="selected"':'')%>>Less than</option>
									<option value="lte" <%=(item.attr('field.operator') == 'lte'? 'selected="selected"':'')%>>Less than or equal to</option>
									<option value="gt" <%=(item.attr('field.operator') == 'gt'? 'selected="selected"':'')%>>Greater than</option>
									<option value="gte" <%=(item.attr('field.operator') == 'gte'? 'selected="selected"':'')%>>Greater than or equal to</option>
									<option value="like" <%=(item.attr('field.operator') == 'like'? 'selected="selected"':'')%>>Like</option>
									<option value="in" <%=(item.attr('field.operator') == 'in'? 'selected="selected"':'')%>>In</option>
								</select>
								<div class="operator operator-between" <%=(item.attr('field.operator') == 'between'? 'style="display: block;"':'')%>>
									<table>
										<tr>
											<td width="33%">
												<input name="value[0]" placeholder="From" value="<%=item.attr('field.val.0')%>"></input>
											</td>
											<td width="34%" align="center">
												and
											</td>
											<td width="33%">
											<input name="value[1]" placeholder="To" value="<%=item.attr('field.val.1')%>"></input>
											</td>
										</tr>
									</table>
								</div>
								<div <%=(item.attr('field.operator') != 'between' && item.attr('field.operator') != 'like' && item.attr('field.operator') != 'in' ? 'style="display: block;"':'')%> class="operator operator-equal operator-lt operator-lte operator-gt operator-gte">
									<input name="value" placeholder="Value" value="<%=item.attr('field.val.0')%>"></input>
								</div>
								<div class="operator operator-like" <%=(item.attr('field.operator') == 'like'? 'style="display: block;"':'')%>>
									<label>Use <strong>%</strong> as a wildcard</label>
									<input name="value" placeholder="Value" value="<%=item.attr('field.val.0')%>"></input>
								</div>
								<div class="operator operator-in" <%=(item.attr('field.operator') == 'in'? 'style="display: block;"':'')%>>
									<label>Comma separated values</label>
									<input name="value" placeholder="Values" value="<%=item.attr('field.val.0')%>"></input>
								</div>

								<a href="#" class="button saveFilters" >Update</a>
							</div>
						</div>
					</li>
				<% }) %>
			</ul>
			<div class="dragHere filters <%=(Object.keys(insight.attr('filters').attr()).length > 0)? 'hidden':''%>">Drag here</div>
		</div>
	</li>

	<li>
		<div class="innerTitle">
			<h2>Fields</h2>
			<span>Drag/Drop fields that You want to show in the report</span>
		</div>
		<div class="innerContent">
			<ul class="columnList fields" >
				<% insight.attr('fields').each(function(item, index) { %>
					<li <%= (el) -> el.data('field', item)%>>
						<span title="<%= item.table %>.<%= item.field.Field%>"><%= item.table %>.<%= item.field.Field%></span> <i class="fa fa-times removeButton"></i>
						<div class="editPopup">
							<div class="innerTitle">
								<h2>Rename column</h2>
								<i class="fa fa-times closeButton"></i>
							</div>
							<div class="innerContent">
								<input placeholder="<%= item.table %>.<%= item.field.Field%>" value="<%=item.attr('field.as')%>"></input>
								<a href="#" class="button">Update</a>
							</div>
						</div>
					</li>
				<% }) %>
			</ul>
			<div class="dragHere fields <%=(Object.keys(insight.attr('fields').attr()).length > 0)? 'hidden':''%>">Drag here</div>
		</div>
	</li>
	<li>
		<div class="innerTitle">
			<h2>Relations</h2>
			<span>Define relations between tables</span>
		</div>
		<div class="innerContent">
			<% if(Object.keys(insight.attr('relations').attr()).length > 1) { %>
			<ul class="columnList relations" >

				<% insight.attr('relations').each(function(item, index) {%>
					<li <%= (el) -> el.data('field', item)%>>
						<span title="<%= item.table %>"><%= item.table %></span>
						<div class="editPopup">
							<div class="innerTitle">
								<h2>Define relation</h2>
								<i class="fa fa-times closeButton"></i>
							</div>
							<div class="innerContent">
								<% if(item.attr('relateto')) { %>
									<ul class="columnList relationsInner" >
										<% item.attr('relateto').each(function(rel, index) { %>
											<li <%= (el) -> el.data('field', item)%>>
												<span title="<%= rel.field%> = <%= rel.reltable %>.<%= rel.relfield%>"><%= rel.field%> = <%= rel.reltable %>.<%= rel.relfield%></span>
												<i class="fa fa-times removeButton"></i>
											</li>
										<% }) %>
									</ul>
								<% } else {%>
									No relations found.
								<% }%>								
								<div class="innerUpdate" style="display: none;">
									<select class="relationCurrent">

									</select>
									<select class="relationTable" >
											<option value="-1" selected="selected" >Select</option>
										<% insight.attr('relations').each(function (relation, index){ %>
											<% if (item.table != relation.table) { %>
												<option value="<%=relation.table; %>" ><%=relation.table; %></option>
											<% } %>
										<% }); %>
									</select>
									<select class="relationColumn" disabled="disabled" >
										<option value="-1" selected="selected" > Select Table</option>
									</select>
									<a href="#" class="button relationUpdate">Update</a>
									<a href="#" class="button relationSave">Save</a>
									<a href="#" class="button relationCancel">Cancel</a>
								</div>
								<a href="#" class="button relationNew">Add New Relation</a>
							</div>
						</div>
					</li>
				<% }) %>
			</ul>
			<% } else { %>
				Relations can only be defined when multiple tables are used
			<% } %>
		</div>
	</li>
<% } else { %>
	<li class="toolsPlaceholders">
		<div class="innerTitle">
			<h2>Variables</h2>
			<span>Use <strong>:variable_name:</strong> in the SQL Query editor to add variables</span>
		</div>
		<div class="innerContent">
			<% if(!can.Object.same(insight.attr('variables').attr(),{})) { %>
				<% insight.attr('variables').each(function(item, index) { %>
					<label><%=index%>:</label>
					<input placeholder="<%=index%>" value="<%=item%>"></input>
				<% }) %>
			<% } else { %>
				No variables found in Your SQL
			<% } %>
		</div>
	</li>
<% } %>
</ul>