
<ul>
<% if(insight.attr('type') == 0) { %>
	<li>
		<div class="innerTitle">
			<h2>Filters</h2>
			<span>Drag/Drop fields here to create filters</span>
		</div>
		<div class="innerContent">
			<ul class="columnList filters" >
				<% insight.attr('filters').each(function(item, index) { %>
				
					<label><%=index%>:</label>
					<input placeholder="<%=index%>" value="<%=item%>"></input>
				<% }) %>
			</ul>
			<div class="dragHere filters"><i class="fa fa-share"></i> Drag here</div>
		</div>
	</li>

	<li>
		<div class="innerTitle">
			<h2>Fields</h2>
			<span>Drag/Drop fields that You want to show in the report</span>
		</div>
		<div class="innerContent">
			<ul class="columnList fields" >
				<% insight.attr('fields').each(function(item, index) { %>
					<label><%=index%>:</label>
					<input placeholder="<%=index%>" value="<%=item%>"></input>
				<% }) %>
			</ul>
			<div class="dragHere fields"><i class="fa fa-share"></i> Drag here</div>
		</div>
	</li>
<% } else { %>
	<li>
		<div class="innerTitle">
			<h2>Variables</h2>
			<span>Use <strong>:variable_name:</strong> in the SQL Query editor to add variables</span>
		</div>
		<div class="innerContent">
			<% if(!can.Object.same(insight.attr('variables').attr(),{})) { %>
				<% insight.attr('variables').each(function(item, index) { %>
					<label><%=index%>:</label>
					<input placeholder="<%=index%>" value="<%=item%>"></input>
				<% }) %>
			<% } else { %>
				No variables found in Your SQL
			<% } %>
		</div>
	</li>
<% } %>
</ul>